@import "/usr/share/sway/templates/waybar/style.css";

/* Override colors, which are set to the default GTK (adawaita) theme colors  */
#custom-scratchpad, #custom-menu, #workspaces button.focused, #clock  {
    color: @wm_icon_bg;
    background-color: @theme_bg_color;
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    /* color: @theme_bg_color; */
    color: @wm_icon_bg;
}

#workspaces button.focused {
    background-color: @warning_color;
    border-color: @theme_bg_color;
}
